{% load i18n %}
{% load wall %}
<ul>
    <li>{% filterlink "u=all" "default" %}{% trans "all" %}{%endfilterlink%}</li>
    <li>{% filterlink "u=followed" %}{% trans "followed" %}{%endfilterlink%}</li>
</ul>
<ul>
    {% if custom_filter %}
        <li>{% filterlink "f=custom" "default" %}{% trans "custom" %}{%endfilterlink%}</li>
        <li>{% filterlink "f=all" %}{% trans "all" %}{%endfilterlink%}</li>
    {% else %}
        <li>{% filterlink "f=all" "default" %}{% trans "all" %}{%endfilterlink%}</li>
    {% endif %}
    <li>{% filterlink "f=articles" %}{% trans "articles" %}{%endfilterlink%}</li>
    <li>{% filterlink "f=posts" %}{% trans "posts" %}{%endfilterlink%}</li>
    <li>{% filterlink "f=ratings" %}{{msg.FILTER_RATINGS}}{%endfilterlink%}</li>
    <li>{% filterlink "f=video" %}{% trans "video" %}{% endfilterlink %}</li>
    <li>{% filterlink "f=images" %}{% trans "images" %}{% endfilterlink %}</li>
</ul>
