*.pyc
*~
*.orig
*.rej
*/bak/*
*.bak
*.DS_Store
*.jpg
*.jpeg
*.gif
*.jp
*.idea
*.png
/dependencies
film20/static/objects
film20/reports/pylint.report
film20/config/urls.py
film20/settings.py
film20/static/avatars
film20/static/img/localized
film20/static/localized.css
film20/static/img/objects
film20/static/tmp_img/objects
film20/fetch.log
film20/static/_static/_img/localized
film20/static/GeoIPv6.dat
film20/static/GeoLiteCity.dat
film20/static/CACHE
film20/search/resources/tmp/solr.*
film20/search/resources/tmp/test-data
film20/search/resources/apache-solr-*/server/solr/data
film20/rec_tests
film20/backup
testing
load_all.py
fetch.log
sys
/ajax_validation
/bbauth
/compress
/dependencies
/django_openidauth
/django_openidconsumer
/djangologging
/geonames
/gravatar
/haystack
/piston