{% extends "usersettings/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <form method="post" id="change_password_form" class="settings">
        <h1>
		{% trans "Settings" %}:
		<span>
        {% if request.user.has_usable_password %}
        {% trans "Change Password" %}
        {%else%}
        {% trans "Set Password" %}
        {%endif%}
		</span>
        </h1>
		{% include "form_fieldset.html" %}
        <input type="submit" name="action" value="{% trans "change password" %}"/>
    </form>
{% endblock %}

