{% extends "base.html" %}

{% load i18n %}
{% load map_url %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block body-class %}registration{% endblock %}

{% block primary-content-wrapper-start %}{% endblock %}
{% block content-start %}{% endblock %}

{% block content %}
<section class="content">
	<h1>{% trans "Password Reset" %}</h1>
	{% if user.is_authenticated %}
		<p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
	{% endif %}
	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>
	<form class="reset-password" action="" method="post">
		<fieldset>
			{{ password_reset_form}}
			<input type="submit" value="{% trans "Reset my password" %}" />
		</fieldset>
	</form><!-- .reset-password -->
	<p>{% blocktrans %}If you have any trouble resetting your password, contact us at {% endblocktrans %} {% contact_admin %}.</p>
</section><!-- .content -->
{% endblock %}
		
{% block content-end %}{% endblock %}
{% block primary-content-wrapper-end %}{% endblock %}
