{% load i18n %}
<div id="filter-form" class="filter-form">
	<form method="GET" action=".">
	<fieldset>
		{% if film_specs_form.errors %}
			{% if film_specs_form.year_from.errors %}
				<div class="error">{{ film_specs_form.year_from.errors }}</div>
			{% endif %}
			{% if film_specs_form.year_to.errors %}
				<div class="error">{{ film_specs_form.year_to.errors }}</div>
			{% endif %}
			{% if film_specs_form.related_director.errors %}
				<div class="error">{{ film_specs_form.related_director.errors }}</div>
			{% endif %}
			{% if film_specs_form.related_actor.errors %}
				<div class="error">{{ film_specs_form.related_actor.errors }}</div>
			{% endif %}
			{% if film_specs_form.tags.errors %}
				<div class="error">{{ film_specs_form.tags.errors }}</div>
			{% endif %}
			{% if film_specs_form.popularity.errors %}
				<div class="error">{{ film_specs_form.popularity.errors }}</div>
			{% endif %}
		{% endif %}
		<div>
			<label for="id_year_from_0">{{ film_specs_form.year_from.label }}</label>
			{{ film_specs_form.year_from }}
			<label for="id_year_to_0">{{ film_specs_form.year_to.label }}</label>
			{{ film_specs_form.year_to }}
			<label for="id_country_0">{{ film_specs_form.country.label }}</label>
			{{ film_specs_form.country }}
		</div>
		<div>
			<label for="id_related_director_0">{{ film_specs_form.related_director.label }}</label>
			{{ film_specs_form.related_director }}
			<label for="id_related_actor_0">{{ film_specs_form.related_actor.label }}</label>
			{{ film_specs_form.related_actor }}
		</div>
		<div>
			<label for="id_tags_0">{{ film_specs_form.tags.label }}</label>
			{{ film_specs_form.tags }}
			<label for="id_popularity_0">{{ film_specs_form.popularity.label }} &gt;=</label>
			{{ film_specs_form.popularity }}
		</div>
	</fieldset>
	<input type="submit" name="filter" value="{% trans "Apply filter" %}" />
	</form>
</div><!-- #filter-form .filter-form -->