{% load i18n %}
{% load account %}
{% load map_url %}
<div id="user-toolbox">
{%if user.is_authenticated%}
    <p>{% trans "Welcome" %}: <a id="display_name" username="{{ request.user.username }}" href="{% url_user_link request.user %}">{{request.user.get_profile.get_current_display_name}}</a><div id="username" style="display:none">{{ request.user.username }}</div></p>
	<ul>
		{%with cnt=request.user.unread_conversation_counter%}
		<li{% if cnt %} class="messages"{% endif %}>
				<a href="{% url messages %}">{% trans "Messages" %}{% if cnt %} ({{cnt}}){% endif %}</a>
		</li>
		{%endwith%}
		<li><a href="{% url user_settings %}">{% trans "Settings"%}</a></li>
		<li><a href="{% url acct_logout %}?{%get_next request%}" id="logout">{% trans "Log out"%}</a></li>
	</ul>
{%endif%}
{%if not user.is_authenticated%}
	<ul>
		<li><a href='{% url acct_signup%}?{%get_next request%}' title="{% trans 'Sign up' %}" class="login-elements" id="signup">{% trans "Sign up" %}</a></li>
		<li><a href='{% url acct_login%}?{%get_next request%}' title="{% trans 'Log in' %}" class="login-elements" id="login">{% trans "Log in" %}</a></li>
	</ul>
{%endif%}
</div><!-- #user-toolbox -->
