{% load widgets %}
{% load i18n %}
<section class="description">
	<h1>Filmaster Mobile</h1>
	<p>{% trans "Get local recommendations on your phone" %}</p>
    <p class="join"><a href="{{ signup_url }}">{% trans "Join Filmaster" %}</a></p>
</section><!-- .description -->
<section class="mobile">
	<img width="180" height="258" src="static/layout/iphone-mobile-h.png" alt="Filmaster Mobile" />
	<p>{% trans "Filmaster Mobile is a movie discovery app providing you with top film suggestions in your area that fit your personal taste. Check-in to screenings, interact with friends and film lovers like yourself in your area." %}</p>
	<p class="app-store"><a href="http://itunes.apple.com/au/app/filmaster/id403634677?mt=8&amp;ls=1">DOWNLOAD FILMASTER for iPhone!</a></p>
</section><!-- .mobile -->
