{% load i18n %}
{% load useractivity_tags %}
{% load map_url %}
{% load format_date %}
{% load movie %}

<a href="{% url_username_link activity.username %}">{{ activity.user.get_profile.get_current_display_name }}<img src="{% avatars 45 activity.username %}" alt="{{ activity.user.get_profile.get_current_display_name }}" /></a>
{% trans "rated" %} <a href="{{ activity.film_absolute_url }}">{{ activity.film_title }}</a>
<meter class="rating-2" max="10" value="{{ activity.rating }}">{{ activity.rating }} {% trans "stars" %}</meter>
<span> {% human_readable_date activity.created_at %} </span> 
