{% extends "moderation/record.html" %}

{% load i18n %}
{% load oembed_tags %}

{% block title %}
    <p>
    {% trans "Film" %} <a href="{{ item.trailer.film.get_absolute_url }}">{{ item.trailer.film.get_title }} ({{ item.trailer.film.release_year }})</a>:
    </p>
    <br />
    {% if item.trailer.thumb %}
        <section class="trailers">
            <a title="{% trans "Watch trailer" %}" href="#">
                <img width="180" src="{{ item.trailer.thumb }}" alt="{% trans 'Trailer' %}: {{ item.trailer.film.get_title }}" />
                <span></span>
            </a>
            <div class="v">{% oembed 560x345 %}{{ item.trailer.url }}{% endoembed %}</div>
        </section>
    {% else %}
        <p><a href="{{ item.trailer.url }}">{{ item.trailer.url|urlizetrunc:50 }}</p>
    {% endif %}
{% endblock %}
