{%load i18n%}
{% load map_url %}

{%if ratings%}
	<p>{{title}}:</p>
	<ul>
	{%for rating in ratings%}
		<li>
			<a href="{% url_username_link rating.user%}">{{rating.user}}</a>
			{% if rating.rating %}
				<meter class="rating-3" max="10" value="{{rating.rating}}">{{rating.rating}} {% trans "stars" %}</meter>
			{% endif %}
		</li>
	  {%endfor%}
	</ul>
{% else %}
    {% if request.user.is_authenticated %}
    {% if friends %}<p>{% trans "None of your friends have rated this film, yet." %} {% if not user_rated %}{% trans "Be the first one!" %}{% endif %}</p>{% endif %}
    {% endif %}
{%endif%}


