<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="pl">
        <head>
            <title>Strona główna &laquo; filmaster.pl</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta http-equiv="content-language" content="pl" />
            <meta name="Description" content="Film 2.0 - portal miłośników kina"/>
            <meta name="Keywords" content="film20 kino film web20 społeczność" />
            <meta name="author" content="Borys Musielak, Adam Zieliński"/>
            <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen"/>
            <!--[if lte IE 6]><link rel="stylesheet" href="ie6style.css" type="text/css" /><![endif]-->
            <!--[if IE 7]><link rel="stylesheet" type="text/css" href="ie7style.css" /><![endif]-->
        </head>
        <body>
            <div id="wrapper">
                {% block content %}
                {% endblock %}   
            </div>  
        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-364159-23");
pageTracker._trackPageview();
} catch(err) {}</script> 
        </body>
</html>
