{% extends "showtimes/base.html" %}
{% load i18n %}
{% load showtimes %}

{% block title %}{% trans "Recommended" %}: {% trans "on TV" %}{% endblock %}
{% block description %}{% trans "These are your top recommendations for movies currently broadcast on TV." %}{% endblock %}
{% block showtimes-title %}{% trans "on TV" %}{% endblock %}
{% block showtimes-id %}tv{% endblock %}

{% block showtimescontent %}
    {% if films %}
        <ul class='list'>
            <li>
            {% include "showtimes/films_tv_single_day_ajax.html" %}
            </li>
        </ul>
	{% else %}
        {% include "showtimes/no_showtimes.html" %}
    {% endif %}
{%endblock%}
